body {
  background: #ffddd2;
  color: #006d77;
  font-family: "Montserrat", sans-serif;
}

header {
  background: #edf6f9;
  text-align: center;
  padding: 40px;
}
header h1 {
  font-weight: 300;
  font-size: 24px;
}
p {
  margin-bottom: 20px;
}

main {
  background: #edf6f9;
  padding: 20px;
}
main div {
  background: #83c5be;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}

#cgarevalo-leon {
  background-color: yellow;
  color: black;
  padding: 5px;
  font-weight: 700;
  font-family: 'Press Start 2P', cursive;
}

#ratmaca {
}

#mbarroso-avelino-ara {
}

#ycho54 {
    color: orchid;
    font-size: 20px;
    font-family: 'Reggae One', cursive;
    font-weight: 400;
}

#badalal {
}

#tdawson5 { 
  font-family: 'Architects Daughter', cursive;
  Color: #2fb9f0;
  font-size: 22px;
}

#ddavis21 {
}

#adua5 {
}

#hengeda {
}

#dflocco {
}

#ngalvao-maia {
}

#kgarcia15 {
}

#cgonzales5 {
}

#igorina2 {
}

#khidaka {
}

#dislam4 {
    color: #83c5be;
    font-style: italic;
    border: 2px solid red;
}

#fkeita {
}

#kykim13 {
}

#mliang16 {
}

#qlu30 {
  font-family: 'Dancing Script', cursive;
  color: #1687a7;
  font-size: 1.75rem;
}

#amanda.lutz {
}

#smahesh1 {
}

#amalwatta {
}

#pbhatt24 {
}

#lpomeroy2 {
    color: #900C3F;
    font-size: 25px;
    font-family: 'Akaya Kanadaka', cursive;

}

#pprakash5 {
  color: hsl(162, 85%, 31%);
  font-family: 'Dancing Script', cursive;
  font-family: 'Pacifico', cursive;
}

#lfremicio-tinoco {
}

#msshojaei-zadeh {
  font-size: 25px;
  color: darkred;
  font-weight: bold;
} 

#jsondhi2 {
  font-family: 'Acme', sans-serif;
  color: #a73e0e;
  font-size: 1.7em;  
}

#jtorres-lizarazo {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #006d77;
  margin-top: 15px;
}

#mfwali {
}

footer {
  text-align: center;
  background: #ffddd2;
  color: #e29578;
  padding: 40px;
  border-top: 2px solid #e29578;
}

@media (min-width: 650px) {
  main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  main p {
    width: 100%;
  }
  main div {
    width: calc(33.3333% - 50px);
  }
}
